*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    font-family:Arial,sans-serif;
    background:#eaf7ff;
    overflow:hidden;
}


.app{
    width:100%;
    height:100vh;
    display:flex;
}


/* MENÜ */

.sidebar{

    width:260px;
    background:#bde8ff;
    padding:15px;

}


.logo{

    font-size:25px;
    font-weight:bold;
    color:#008cff;
    margin-bottom:20px;

}


.new-chat{

    width:100%;
    padding:14px;
    border:none;
    border-radius:20px;
    background:#008cff;
    color:white;
    font-size:16px;

}


.chat-item{

    background:white;
    padding:12px;
    border-radius:15px;
    margin-top:12px;

}




/* CHAT */

.chat{

    flex:1;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;

}



.menu-btn{

    display:none;

}


.header{

    background:white;
    text-align:center;
    padding:15px;

}



.header h2{

    color:#008cff;

}



.messages{

    flex:1;
    overflow-y:auto;
    padding:15px;

}



.ai,
.user{

    max-width:85%;
    padding:14px;
    border-radius:20px;
    margin-bottom:15px;
    line-height:1.5;

}



.ai{

    background:white;
    margin-right:auto;

}



.user{

    background:#008cff;
    color:white;
    margin-left:auto;

}



.chat-image{

    max-width:250px;
    border-radius:15px;

}




/* YAZMA ALANI */

.input-bar{

    display:flex;
    gap:8px;
    padding:10px;
    background:white;

}


.input-bar input[type="text"]{

    flex:1;
    height:45px;
    border-radius:25px;
    border:1px solid #ccc;
    padding:0 18px;
    font-size:16px;

}



.upload-btn,
.input-bar button{

    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:#008cff;
    color:white;
    font-size:20px;

}




/* TELEFON */

@media(max-width:700px){


.app{

    display:block;

}



.sidebar{

    position:fixed;
    left:-270px;
    top:0;

    height:100vh;

    z-index:20;

    transition:0.3s;

}



.sidebar.active{

    left:0;

}



.menu-btn{

    display:block;

    position:absolute;

    top:12px;
    left:12px;

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    background:#008cff;

    color:white;

    font-size:25px;

    z-index:10;

}



.header{

    padding-left:65px;

}



.chat{

    width:100%;

}



.input-bar{

    position:fixed;

    bottom:0;
    left:0;
    right:0;

}



.messages{

    padding-bottom:80px;

}



}
