<!DOCTYPE html>
<html lang="tr">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Cebimdeki Doktor</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=6">

</head>


<body>


<div class="app">


<div class="sidebar">

<div class="logo">
🌊 MaviGPT
</div>

<button class="new-chat" onclick="location.href='/'">
＋ Yeni Sohbet
</button>

<div class="chat-item">
🩺 Cebimdeki Doktor
</div>

</div>




<main class="chat">


<button class="menu-btn" onclick="toggleMenu()">
☰
</button>



<header class="header">

<h2>🩺 Cebimdeki Doktor</h2>

<p>MaviGPT sağlık yardımcın</p>

</header>



<section class="messages">


<div class="ai">

👋 Merhaba Bahar!

<br><br>

Ben Cebimdeki Doktor.

<br><br>

Belirtilerini yazabilirsin. Sana genel sağlık bilgileri verebilirim.

</div>


</section>



<form class="input-bar">


<input 
type="text"
placeholder="Şikayetini yaz...">


<button type="button">
➤
</button>


</form>



</main>


</div>



<script>

function toggleMenu(){

document.querySelector(".sidebar")
.classList.toggle("active");

}

</script>


</body>

</html>
