<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cebimdeki Doktor</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="app">

    <div class="sidebar">

        <div class="logo">
            🌊 MaviGPT
        </div>

        <button class="new-chat">
            ＋ Yeni Sohbet
        </button>

        <div class="history">

            <div class="chat-item">
                🩺 Boğaz Ağrısı
            </div>

            <div class="chat-item">
                🤒 Ateş
            </div>

            <div class="chat-item">
                🤕 Baş Ağrısı
            </div>

        </div>

        <div class="bottom">
            ⚙️ Ayarlar
        </div>

    </div>


    <div class="chat">

        <div class="header">

            <h2>🩺 Cebimdeki Doktor</h2>

            <p>Sağlık Asistanın</p>

        </div>

        <div class="messages">

            <div class="ai">

                👋 Merhaba Bahar!

                <br><br>

                Belirtini yaz, sana yardımcı olmaya çalışayım.

            </div>

            {% if cevap %}

            <div class="user">

                {{ request.args.get("mesaj") }}

            </div>

            <div class="ai">

                {{ cevap }}

            </div>

            {% endif %}

        </div>

        <form action="/" method="get" class="input-bar">

            <input
            type="text"
            name="mesaj"
            placeholder="Belirtini yaz..."
            autocomplete="off"
            >

            <button>

                ➤

            </button>

        </form>

    </div>

</div>

</body>
</html>
