<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MaviGPT{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}?v=11">

</head>

<body>

<!-- Açılış Ekranı -->

<div id="splash-screen">

    <div class="splash-content">

        <div class="logo-big">🌊</div>

        <h1>MaviGPT</h1>

        <p>Akıllı Yapay Zekâ Asistanın</p>

        <div class="loader"></div>

    </div>

</div>

{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
