<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaviGPT</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="app">

    <!-- SOL MENÜ -->
    <div class="sidebar">

        <div class="logo">
            🌊 MaviGPT
        </div>

        <button class="new-chat"
                onclick="window.location='/'">
            ＋ Yeni Sohbet
        </button>

        <div class="history">

            {% for chat in sohbetler %}

            <div class="chat-item">
                💬 {{ chat[1] }}
            </div>

            {% endfor %}

        </div>

        <div class="bottom">

            <div class="chat-item"
                 onclick="window.location='/doctor'">

                🩺 Cebimdeki Doktor

            </div>

        </div>

    </div>

    <!-- SOHBET -->

    <div class="chat">

        <div class="header">

            <h2>🌊 MaviGPT</h2>

            <p>Merhaba Bahar 👋</p>

        </div>

        <div class="messages">

            <div class="ai">

                Merhaba! 💙

                <br><br>

                Sana nasıl yardımcı olabilirim?

            </div>

            {% if cevap %}

            <div class="user">

                {{ mesaj }}

            </div>

            <div class="ai">

                {{ cevap }}

            </div>

            {% endif %}

        </div>

        <form class="input-bar"
              method="get">

            <input
                type="text"
                name="mesaj"
                placeholder="MaviGPT'ye mesaj yaz..."
                autocomplete="off">

            <button>
                ➤
            </button>

        </form>

    </div>

</div>

</body>
    </html>
